<strong><%= @merchant.name %></strong>

<section id="id">
  <p>ID: <%= @discount.id %></p>
</section>

<section id="percentage_discount">
  <p>Percentage Discount: <%= @discount.percentage_discount %></p>
</section>

<section id="quantity_threshold">
  <p>Quantity Threshold: <%= @discount.quantity_threshold %></p>
</section>